# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# IDEs
.vscode/
.idea/

# Generated Outputs
submission.csv
*_traj.png
*.log

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
